body {
	margin: 0;
	padding: 0;
}
html,
body,
#map {
	height: 100%;
}

.season-slider {
	/* padding: 10px; */
	min-width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	border-radius: 4px;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
	padding: 8px;

	/* box-sizing: border-box; */
}

@scope (.season-slider) {
	h3 {
		margin-top: 0;
		margin-bottom: 0;
	}

	.season-slider-labels {
		display: flex;
		justify-content: space-between;
	}

	.date-container {
		display: flex;
		justify-content: space-between;
	}

	input,
	button {
		/* display: block; */
		/* width: 100%; */
		margin-bottom: 10px;
	}
}
